<head>
	<title>Monty Hall</title>
  <link href="css/style.css" rel="stylesheet" />
  <script src="js/game.js"></script>
</head>

<body>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <div>
    <h3>The three squares below are doors.</h3>
    <h3>Behind one of these doors is a prize, behind two of these doors there is nothing.</h3>
    <h3>The price has been randomly distributed.</h3>
    <h3>Guess which door you think has the prize.</h3>
  </div>

  <div class="container">

    <div class="doorContainer">
      <div class="door 1">
      </div>
      <input type="checkbox" class="doorPicker" />
    </div>

    <div class="doorContainer">
      <div class="door 2">
      </div>
      <input type="checkbox" class="doorPicker" />
    </div>

    <div class="doorContainer">
      <div class="door 3">
      </div>
      <input type="checkbox" class="doorPicker" />
    </div>

  </div>

  <p>How many simulations would you like to run?</p>
    <form id="simForm">
      <input id="simNumber" type="text" />
      <button type="submit">Run simulations</button>
    </form>




</body>